:root {
    --bg--primary: hsl(203, 7%, 92%);
    --bg--active: hsla(203, 86%, 93%, 0.7);
    --bg--hover: hsl(200, 7%, 84%);
    --bg--focus: hsl(203, 100%, 100%);
    --gray--primary: hsl(199, 33%, 51%);
    --gray--secondary: hsl(200, 14%, 30%);

    --dark--primary: hsl(203, 13%, 14%);
    --dark--secondary: hsl(203, 4%, 29%);

    --accent--primary: hsl(206, 90%, 56%);
    --accent--secondary: hsl(206, 79%, 58%);
}
.dashboard-content{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-auto-rows: 220px;
 gap: 10px;
 overflow: auto;
}
.dashboard-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.dashboard-box{
    padding: 15px;
    background-color: var(--bg--primary);
     border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
box-shadow: 0 3px 5px #1233, 0 5px 17px #0003;
}

.dashboard-box-content{
    position: relative;
 border: 1px solid var(--gray--primary);
 height: 100%;
 border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;

}

#dashboard-staf-onsite{
    grid-column: span 2;
}
#dashboard-vendor-activity{
    grid-column: span 3;
}
.dashboard-box-content h2{
    position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* center + offset ke atas */
  background:var(--bg--primary); /* harus sama dgn bg kontainer, agar potong garis */
  padding: 0 1rem;
  font-size: 1.2rem;
}
.fade-in {
  animation: fadeInAnimation 0.5s ease forwards;
  opacity: 0;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media (max-width: 450px) {
    .dashboard-content{
 grid-template-columns: repeat(1,1fr);


}
#dashboard-staf-onsite{
    grid-column: span 1;
}
#dashboard-vendor-activity{
    grid-column: span 1;
}
.dashboard-box-content h2{
    font-size: 13px !important;
    text-align: center;
}
}